body {
  font-family: sans-serif;
  background-color: #fff;
}

.canvas {
  border: 1px solid #000;
  padding: 0;
  margin: auto;
  display: block;
  width: 80%;
}

.menu-button {
  width: 60px;
  height: 20px;
}

.menu-button-color {
  width: 75%;
  height: 75%;
  display: block;
  padding: 0;
  margin: auto;
}

.menu {
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: space-around;
}

.menu-settings-button {
  margin-left: 20px;
  margin-right: 20px;
}

.menu-colors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
}

.menu-colors-div {
  display: flex;
  flex-flow: row;
}

.menu-color {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 5px;
}

.menu-settings {
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
}

h2 {
  margin-block: 0em;
  text-align: center;
}

.menu-play-button {
  box-sizing: border-box;
  width: 0;
  height: 30px;
  border-style: solid;
  border-width: 15px 0 15px 30px;
  border-color: transparent transparent transparent #202020;
  cursor: pointer;
  will-change: border-width;
  transition: all .2s ease;
}

.menu-play-button.pause {
  border-style: double;
  border-width: 0px 0px 0px 30px;
}

.menu-play-button:hover {
  border-color: transparent transparent transparent #404040;
}