body {
  font-family: sans-serif;
  background-color: #ffffff;
}

.canvas {
  border: 5px solid #000000;
  border-radius: 10px;
  padding: 0;
  margin: auto;
  display: block;
  background-color: #000000;
  /* width: 70%; */
  /* height: 50%; */
  /* box-sizing: content-box; */
}

.menu-button {
  width: 60px;
  height: 20px;
}

.menu-button-color {
  width: 75%;
  height: 75%;
  display: block;
  padding: 0;
  margin: auto;
}

.menu {
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: space-around;
}

.menu-settings-button {
  margin-left: 20px;
  margin-right: 20px;
}

.menu-colors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
}

.menu-colors-div {
  display: flex;
  flex-flow: row;
}

.menu-color {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 5px;
}

.menu-settings {
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
}

h2 {
  margin-block: 0em;
  text-align: center;
}

.menu-play-button {
  box-sizing: border-box;
  width: 0;
  height: 25px;
  border-style: solid;
  border-width: 12.5px 0 12.5px 25px;
  border-color: transparent transparent transparent #202020;
  cursor: pointer;
  will-change: border-width;
  transition: all .2s ease;
}

.menu-play-button.pause {
  border-style: double;
  border-width: 0px 0px 0px 25px;
}

.menu-play-button:hover {
  border-color: transparent transparent transparent #404040;
}

.menu-play-button-border {
  padding: 2px;
  width: 25px;
  height: 25px;
  border: 3px solid black;
  border-radius: 8px;
}

h3 {
  margin-block: 0;
  font-weight: normal;
  font-size: 1em;
}